*~
/build/
*\.idb
*\.ilk
*\.lib
*\.pdb
*\.exe
*\.orig
/msvc
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
cmake_install.cmake
CMakeFiles
*.opensdf
*.sdf
*.sln
*.suo
CMakeCache.txt
/empirical/empiricalcpp.dir
/x64
/empirical/Debug
