*~
/build/
*\.idb
*\.ilk
*\.lib
*\.pdb
*\.exe
*\.orig
/msvc
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
cmake_install.cmake
CMakeFiles
*.opensdf
*.sdf
*.sln
*.suo
CMakeCache.txt
/empirical/empiricalcpp.dir
/x64
/empirical/Debug
CTestTestfile.cmake
/unittests/QuadratureTests/QuadratureTests.dir
/unittests/Debug
/unittests/gtest.dir
/Testing
/unittests/gtest_main.dir
/unittests/QuadratureTests/Debug
/unittests/x64
/unittests/*/test_detail.xml
